.btn-success:hover {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
}

.cat-mega-menu {
    width: 540px;
    padding: 4px 0 9px 20px !important;
    overflow: hidden;
}

.log-in {
    position: relative;
}

.log-in a {
    font-size: 13px;
}

.log-in::after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    color: #ddd;
}

.error-msg {
    font-size: 13px;
}

.loader img {
    width: 200px;
}

.address-btn {
    width: 240px;
    height: 80px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
}

.section_padding_100_50 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.li-countdown .count span {
    font-size: 14px !important;
}

.li-trending-product-tab>h2>span::before {
    background: #fff !important;
}

.hb-menu nav>ul>li>a::after {
    content: "";
}

.flex.justify-between.flex-1.sm\:hidden {
    display: none !important;
}

svg.w-5.h-5 {
    display: none !important;
}

span.relative.z-0.inline-flex.shadow-sm.rounded-md {
    display: none !important;
}

ul#ui-id-1 {
    overflow: scroll !important;
    height: 250px !important;
}

.order_complated_area {
    border: 1px solid #d6e6fb !important;
    padding: 50px 0px !important;
}

.rating li.no-star i {
    color: #545454 !important;
}

/* Review Btn */
button.review_btn {
    padding: 1px 9px;
    border: 3px solid #02aa02;
    border-radius: 3px;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}

button.review_btn:hover {
    background-color: #02aa02;
    color: #fff;
}
