.swal2-popup.swal2-toast .swal2-title {
    margin: .5em 1em;
    padding: 0;
    font-size: 14px !important;
    text-align: initial;
}

.form-check-input:focus {
    border-color: #98b3f5;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-check-input {
    background-color: red;
    border-color: red;
}

.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
    background-position: left center;
    border-radius: 2em;
}


img#brand_photo {
    width: 130px !important;
    height: 60px !important;
    object-fit: cover;
}

.menu-aside .submenu a {
    color: #6c757d;
    padding: 5px 0 5px 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    margin-left: 5px;
    font-size: 14px !important;
}

.menu-aside .menu-link {
    font-weight: 600 !important;
    font-size: 15px !important;
}

.old-img {
    width: 180px;
    height: 96px;
    object-fit: cover;
}

.old-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.update-img {
    width: 180px;
    height: 96px;
    object-fit: cover;
}

.update-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

img#banner_img {
    width: 180px;
    height: 96px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.rmv_btn {
    margin-top: 24px;
}


.attr_dlt_btn {
    box-shadow: 1px 1px 8px 1px #7e79798a;
    background: #fff;
    border: none;
    padding: 2px 8px;
    border-radius: 3px;
    color: red;
    font-size: 15px;
    transition: 0.4s;
}

.attr_dlt_btn:hover {
    background: #dd2f2f;
    color: #fff;
}

/* setting */
/* setting css */
.display_img {
    width: 163px !important;
}

.display_img img {
    width: 100%;
    height: 38px;
    object-fit: cover;
}

.favicone {
    width: 37px !important;
}

.favicone img {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

/* Order details css */

.download-btn {
    border: 1px solid rebeccapurple;
    padding: 0px 9px;
    font-size: 16px;
    border-radius: 3px;
    color: rebeccapurple;
    transition: 0.4s;
}

.download-btn:hover {
    background: rebeccapurple;
    color: #fff;
}

.order-delete-btn {
    border: 1px solid olivedrab;
    border-radius: 3px;
    color: olivedrab;
    padding: 0px 9px;
    font-size: 16px;
    transition: .4s;
}

.order-delete-btn:hover {
    background: olivedrab;
    color: #fff;
}

.order-submit-btn {
    color: #333;
    border-radius: 3px;
    border: 3px solid darkviolet;
    transition: .4s;
}

.order-submit-btn:hover {
    background: darkviolet;
    color: #fff;
}

.form-select:focus {
    border-color: none;
    box-shadow: none;
}

/* About us css */

div#about_photo {
    width: 270px;
    height: 170px;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 3px;
}

img#show_about_photo {
    width: 100% !important;
    height: 100% !important;
}

/* member */
div#member_photo {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #333;
}

div#member_photo img {
    width: 100%;
    height: 100%;
}

div.member-img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #333;
}

div.member-img img {
    width: 100%;
    height: 100%;
}
