.swal2-popup.swal2-toast .swal2-title {
    margin: .5em 1em;
    padding: 0;
    font-size: 14px !important;
    text-align: initial;
}

.form-check-input:focus {
    border-color: #98b3f5;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-check-input {
    background-color: red;
    border-color: red;
}

.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
    background-position: left center;
    border-radius: 2em;
}

